train.tsv
test.tsv
sample_submission.tsv
my_submission_log.tsv
my_submission.tsv
my_submission_log_feature_xgb.tsv
my_submission_log_xgb.tsv
mysolution (copy.ipynb
Jupyter rendering.tex
Baseline_GBM_solution.ipynb
baseline_submission.tsv
